<section class="relative isolate px-6 pt-14 lg:px-8">
  <div class="mx-auto max-auto py-32 sm:py-48 lg:py-56 text-center">
    <h1 class="text-4xl font-bold tracking-tight text-foreground sm:text-6xl">
      Debt
    </h1>
    <p class="mt-6 text-lg leading-8 text-muted-foreground">
     Wana manage those weighted projects you owe hack club
    </p>
    <div class="mt-10 flex items-center justify-center gap-x-6">
<%= button_to "Get Started", "/auth/hack_club", method: :post, data: { turbo: false }, class: "rounded-md bg-primary px-3.5 py-2.5 text-sm font-semibold text-primary-foreground shadow-sm hover:bg-primary/90" %>
    </div>
  </div>
</section>