<section class="relative isolate px-6 lg:px-8">
  <div class="py-10">
    <h1 class="text-2xl font-bold tracking-tight text-foreground sm:text-4xl">
      Welcome <%= current_user.name %>
    </h1>
    <p class="mt-6 text-lg leading-8 text-muted-foreground">
    So much debt we got a dash now
    </p>
    <%
=begin%>
  placeholder is an empty array calm down
<%
=end%>
    <% for item in [] %>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <%= item %>
        </div>
    <% end %> 
    
  <div>
  <%= link_to "Create Project", new_project_path, class: "text-sm font-semibold leading-6 text-primary" %>
  </div>
  </div>
</section>